<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/homePage.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://meetbook.applinzi.com/">主页<span class="sr-only">(current)</span></a></li>
        <li><a href="http://meetbook.applinzi.com/book-label">分类</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action='/search-result?page=1'>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索书籍" required>
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="left col-md-8">
                <div class="content">
                    <div class="hot">
                        <div class="hotHeader">热门书籍</div>
                        <div class="hotContent">
                            {% for book in popularBookList %}
                            <div class="hotBooks">
                                <img src="{{ book[2] }}" alt="Hot Book">
                                <a href="/book/{{ book[0]}} ">{{ book[1] }}</a>
                            </div>
                            {% end %}
                        </div>
                        <div style="clear:both"></div>
                    </div>

                    <div class="recommendation">
                        <div class="recHeader">推荐书籍</div>
                        <div class="recContent">
                            {% for book in recommendBookList %}
                            <div class="recBooks">
                                <img src="{{ book[2] }}" alt="Recommendation">
                                <a href="/book/{{ book[0]}}">{{ book[1] }}</a>
                            </div>
                            {% end %}
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>

            <div class="right col-md-4">
                <div class="hotLabels">
                    <div class="labelsHeader">热门标签</div>
                    <div class="labelsContent">
                        {% for label in popularLabelList %}
                        <a href="/book-label/{{ label }}" class="label-item">{{ label }}</a>
                        {% end %}
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>